<%- include('partials/header') %>

<main class="main_base-class">

 <form action="/admin/articles" method="POST" enctype="multipart/form-data" class="form_article">

    <h1 class="form-title-ca">AJOUTER UN ARTICLE</h1>

        <label for="input-image-ca" class="label-image-ca">Ajoutez une image :</label>
        <input type="file" id="input-image-ca" name="picture" class="input-image-ca" required>

 



        <label for="input-title-ca" class="label-title">Ajouter un titre</label>
        <input type="text" id="input-title-ca" name="title"  class="input-title-ca" required>



    

        <label for="textarea-ca" name="content" class="label-content">Ajoutez votre texte</label>
        <textarea name="content" id="textarea-ca" cols="30" rows="10" class="textarea-content"></textarea>



    <button class="submit_from-ca">Ajouter l'article</button>

 </form>

</main>

<%- include('partials/footer') %>

</body>
</html>