<%- include('partials/header') %> 

<main class="main_base-class modify">

    <form action="/connected" method="post" class="form-user">
    
        <label for="username" class="username-label">Username :</label>
        <input type="text" name="username" id="username">
    
        <label for="passwored" class="password-label">passwored :</label>
        <input type="password" name="password" id="password">
    
        <button class="submit-form-connexion">Connexion</button>
    
    </form>

</main>


<%- include('partials/footer') %> 