<%- include('partials/header') %> 

    <main class="main">

        <div class="home_page-content"> 

            <img src="/images/home_page_img.jpeg" alt="" class="home_page-img">

            <h2 class="home_page-title"> Home title</h2>

            <p class="home_page-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Molestias esse tempore recusandae in fuga inventore culpa mollitia, atque, blanditiis 
                molestiae, harum illum numquam nihil repudiandae qui iusto dolorem quisquam voluptas!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>    

        </div>

        <div class="home_page-last_articles-container">
            
            <h2 class="home_page-title">Last articles</h2>

            <div class="home_page-last-articles_articles">

                <img src="" alt="" class="last-article_img">

                <h3 class="last-article_title"><a href="" class="last-article_title-link"> </a></h3>

            </div>
        </div>

     
    </main>

<%- include('partials/footer') %> 
</body>
</html>