html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    width: 100%;
       
}

/* ======================= HEADER =========================== */

.header{
    height:10vh;
    width: 100%;
    background-color: gray;
    box-shadow: 0.1rem 0.1rem 0.3rem #b1b1b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title{
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: bold;
    color: orange;
    text-shadow: 0.1rem 0.1rem 0.3rem black;
}

.nav-container{
   display: flex;
   gap: 1rem;
   margin-right: 1rem;

}

.nav-items{
    font-size: 2rem;
    font-weight: bold;
}
.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    color: orange;
    text-shadow: 0.1rem 0.1rem 0.3rem black;
}

/* ===================== MAIN HOME PAGE INFO =========================== */

.main{
    margin: 2rem;
    height: 80vh;
    
}

.home_page-content{
    width: 100%;
    height: 40vh;
    border: 0.1rem solid #eaeaea;
    border-radius: 0.9rem;
    margin-bottom: 2%;
}

.home_page-title{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;   
}

.home_page-text{
    padding: 1rem;
}

.home_page-img{
    width: 100%;
    max-height: 69%;
   
}

/* ===================== MAIN HOME PAGE LAST ARTICLES =========================== */

.home_page-last_articles-container{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    
}

.home_page-last-articles_articles{
    width: 20%;
    border: 0.1rem solid #eaeaea;
    border-radius: 0.9rem;
}

.last-article_img{
    width: 100%;
}

.last-article_title{
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.last-article_title-link{
    text-decoration: none;
    color: black;
}

/* ===================== FOOTER =========================== */

.footer{
    height: 5vh;
    background-color: black;
    color: white;
    text-align: center;
    position:fixed;
    width: 100%;
    bottom: 0;
}
.footer-text{
    padding: 1.5rem;
}